<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clevertap.airasia">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.clevertap.airasia" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.clevertap.airasia"
        android:protectionLevel="signature">
    </permission>

    <application
        android:name=".PushTemplateHandler"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiduClevertap">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-5WK-87Z-666Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-1ab-305" />

        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="0" />
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="eu1" />

        <!--<service
            android:name="com.clevertap.airasia.MYFCM"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <!--<service
           android:name="com.clevertap.airasia.PushTemplateMessagingService"
           android:exported="true">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
        </service>-->



        <!-- push service start -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1"
            tools:replace="android:exported">
            <intent-filter >
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <service android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true"
            tools:replace="android:exported" />

        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.clevertap.airasia.bdpush"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.clevertap.airasia"
            android:protectionLevel = "signature"
            android:exported="true" />

        <meta-data android:name="api_key" android:value="cPBTEPCIjsN9B9NCZH8cq1Ar" />


        <receiver android:name="com.clevertap.airasia.PushTestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

    </application>

</manifest>